/* CSS Document */


/*
This file contains the
design properties of the 
iAmax Toast
*/


/*iAmax Toast*/
#toast{
	width: auto;
	height: auto;
	position: fixed;
	top: 10%;
	padding: 10px;
	background: #115F8E;
	color: #FFF;
	font-weight: bold;
	border: 1px solid #115F8E;
	z-index: 1003;
	display: none;

	/*For shadow and border,
	applicable only to modern browsers */
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	 -moz-box-shadow: 0 0 1em #666;
	-webkit-box-shadow: 0 0 1em #666;
    box-shadow: 0 0 1em #666;
	}

